.title {
    font-size: 38px;
}

@media (max-width: 575.98px) {
    .title {
        font-size: 24px;
    }
}


@media (min-width: 576px) and (max-width: 1023.98px) {
    .title {
        font-size: 28px;
    }
}

@media (min-width: 1024px) and (max-width: 1365.98px) {
    .title {

        font-size: 34px;

    }
}