.root {
    background-color: #11284b;
    background-size: cover;
    background-position: center;
    background-image:
        linear-gradient(250deg, rgba(130, 201, 30, 0) 0%, #062343b5 70%),
        url(/src/assets/hero-image3.jpg);
    padding-top: 96px;
    padding-bottom: 96px;
}

.inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.content {
    padding-top: 64px;
    padding-bottom: 64px;
}

.title {
    color: white;
    font-family: Playfair Display, sans-serif;
    font-weight: 500;
    line-height: 1.05;
    max-width: 80%;
    font-size: 48px;
}

.description {
    color: white;
    opacity: 0.75;
    max-width: 800px;
    font-size: 18px;
}

.control {
    padding-left: 50px;
    padding-right: 50px;
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 400;
    transition: transform 0.3s ease;
}

.control:hover {
    transform: translateY(-5px);
}

@media (max-width: 575.98px) {

    .innerContent {
        flex-direction: column;
        gap: 30px;
    }

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin-right: 0;
    }

    .title {
        color: white;
        font-family: Playfair Display, sans-serif;
        font-weight: 500;
        max-width: 100%;
        font-size: 28px;
        line-height: 1.15;
    }

    .description {
        font-size: 14px;
    }

    .control {
        width: 100%;
        font-size: 20px;
    }

}

/* Планшеты (576px - 991.98px) */
@media (min-width: 576px) and (max-width: 1023.98px) {

    .innerContent {
        flex-direction: column;
    }

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin-right: 0;
    }

    .title {
        color: white;
        font-family: Playfair Display, sans-serif;
        font-weight: 500;
        max-width: 80%;
        font-size: 34px;
        line-height: 1.15;
    }

    .description {
        font-size: 14px;
    }


    .control {

        font-size: 22px;
    }
}

@media (min-width: 1024px) and (max-width: 1365.98px) {

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin-right: 0;
    }

    .title {
        color: white;
        font-family: Playfair Display, sans-serif;
        font-weight: 500;
        max-width: 80%;
        font-size: 38px;
        line-height: 1.15;
    }

    .description {
        font-size: 16px;
    }


    .control {
        font-size: 24px;
    }


}