body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 200;
}

h1,
h2,
h3,
.logo {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-size: 22px;
}

p {
  margin-top: 20px !important;
}